*{
  margin: 0;
  padding: 0;
  color: #fdfdfd; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  background-color: #242424;
}
.list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.list_item{
  margin-bottom: 1.2rem;
  border-radius: 5px;
}
.list_item:hover{
 box-shadow: 0 0 22px white;
}
.list_item img{
  height: 360px;
  width: 360px;
  border-radius: 5px;
}
header{
  display: flex;
  justify-content: space-evenly;
  align-item:center;
  background-color: #ff8e8e53;
  margin-bottom: 15px;
}
.score{
  font-size: 2rem;
  
}
.rules{
  font-size: 1.8rem;
  padding-top: 1.1rem;
}

.best_score, .best_score span{
  color: gold;
}

.current_score, .current_score span{
  font-weight: bold;
}