*{
  margin: 0;
  padding: 0;
  color: #fdfdfd; 
}
.container{
  background-color: #242424;
}
.list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.list_item{
 
}
.list_item img{
  height: 350px;
  width: 350px;
}
header{
  display: flex;
  justify-content: space-evenly;
  align-item:center;
  padding-top:7px;
  background-color: #fdfdfd53;
}
.score, .rules{
  font-size: 2rem;
  text-align: center;
}