*{
  margin: 0;
  padding: 0;
  color: #fdfdfd; 
}
.container{
  background-color: #242424;
}
.list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.list_item{
 
}
.list_item img{
  height: 300px;
  width: 300px;
}

.score{
  font-size: 2rem;
  text-align: center;
}